tmp/pids/server.pid
tmp/cache/assets/sprockets/v3.0/-G/-GGb7WUkcJKtv80HldDf2DafW5FhTnMMvK66W6YGzK0.cache
tmp/cache/assets/sprockets/v3.0/-G/-GGb7WUkcJKtv80HldDf2DafW5FhTnMMvK66W6YGzK0.cache
tmp
assets/
tmp/cache
